.places {
  padding-bottom: 92px;
}

@media screen and (max-width: 780px) {
  .places {
    padding-bottom: 89px;
  }
}

@media screen and (max-width: 440px) {
  .places {
    padding: 0 0 64px 0;
  }
}
