.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding-top: 34px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 440px) {
  .header {
    padding-top: 20px;
  }
}
