.cover__container {
  position: relative;
  background-image: url("../../../images/cover-route-66.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 740px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .cover__container {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__container {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__container {
    min-height: 200px;
  }
}
