.place__paragraph {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 29px;
  margin: 0;
  padding-bottom: 29px;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 780px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
