.cover {
  margin: 0 48px 92px 48px;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-bottom: 64px;
  }
}
