.cover {
  margin: 0 48px 92px 48px;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 0 0 92px 0;
  }
}

@media screen and (max-width: 780px) {
  .cover {
    margin: 0 0 88px 0;
  }
}

@media screen and (max-width: 440px) {
  .cover {
    margin: 0 0 64px 0;
  }
}
