.page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  max-width: 1280px;
  padding: 0 48px;
}

@media screen and (max-width: 768px) {
  .page__container {
    padding: 0 24px;
  }  
}

@media screen and (max-width: 320px) {
  .page__container {
    padding: 0 16px;
  }
}
